/* #region global styles */
* {
    box-sizing: border-box;
    font-family:"Caveat" ,"Story Script" , sans-serif;
}

body {
    padding:0;
    margin:0;
    width: 100%;
    background-image: linear-gradient(to bottom,rgb(41, 66, 64) 10px, rgb(0, 0, 0) 10%);

    display: flex;
    flex-direction: column;
    overflow: visible;
}
/* #endregion */

/* #region website banners/header */

/* #region jumbotron */

header .website-banner {
    display: flex;
    flex-direction: column;
}

header .website-banner .background-container {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    background-image: url(assets/images/erik.png);
    background-size: cover;

}

header .website-banner .background-banner {
    overflow: hidden;
    transform: scale(1.04);
    align-self: center;
    width: 100vw;
    filter: blur(3px) brightness(66%);
    transition: filter 0.5s;

}
header .website-banner .name-banner-container {
    overflow: hidden;

}

header .website-banner .name-banner {
    width: 100%;
    transition: all 0.5s;
}

header .website-banner .name-banner:hover {
    transform: scale(1.1);
}

body:has(header .website-banner .name-banner:hover) .background-banner {
    filter: blur(10px) brightness(50%);
}

/* #endregion */

/* #region navigation */
header .nav-list {
    position: fixed;
    top: 0;
    z-index: 9999;
    
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;

    background-image: linear-gradient(to bottom, rgb(41, 66, 64), rgba(0,0,0,0));
}

header .nav-list ul {
    margin: 0;

    list-style-type: none;
    padding-block: 1rem;
    border-radius: 999px;
    border: 5px transparent solid;

    /* makeshift border lol */
    background: 
        linear-gradient(45deg, rgb(57, 85, 211), rgb(107, 224, 224), rgb(8, 212, 178)) padding-box,
        linear-gradient(to right, purple, blue) border-box;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;

    display: flex;
    flex: 0.5 1;
    flex-basis: 500px;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1em 2em;
}

header .nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
    transition: all 0.5s;
    padding: 10px;
}

header .nav-list li a:hover {
    color: black;
    background-color: azure;
    text-shadow: none;
    border-radius: 99px;
    
}
/* #endregion */

/* #endregion */

/* #region content */

main {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 1980px;
    margin-inline: auto;
    padding: 3rem;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 200px;

    color:white;

    /* main box please deactivate after done */
    border: solid palevioletred;
}

main article p {
    font-family: "Story Script", sans-serif;
}

.header-title {
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

/* decorator for all content */
.card {
    border-radius: 5px;
    background-image: linear-gradient(45deg, rgb(104, 83, 196), rgba(10, 24, 151, 0.25), rgba(0,0,0,0));
    border: 3px solid white;

    padding:0;
    margin:0;
}

/* #region aside */
main aside {
    order: 1;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
main aside .aside-image-container {
    display: flex;
    width: 100%;
}
main aside .aside-image-container img {
    position: relative;
    align-self: flex-end;
    width: 100%;
    z-index: 4;
    
    transition: all 0.5s;
}
main aside .pop-image-container {
    position: absolute;
    transform: translateY(20px);
    width: 495px;
    height: 432px;
    transform: translateY(96px);
    background-color: rgba(0,0,0,0.5);
    opacity: 0;;
    z-index: 3;
    transition: all 0.5s;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}
main aside .pop-image-container img {
    position: absolute;
    width: 1100px;
    left: -200px;
    top: -90px;

    border: 2px solid white;
    transition: all 0.5s;
}
main aside .pop-image-container span {
    z-index: 3;
    position: absolute;
    bottom: -20px;
    font-size: large;
    background-color: black;
}
main aside .pop-image {
    position: absolute;
    overflow: hidden;
    width: 493px;
    height: 430px;

}
/* adjust */
main aside .popimcont2 {
    z-index: 2;
}
main aside .popim2 img{
    transform: scale(1.2) translateY(-40px);
}
main aside .popimcont3 {
    z-index: 1;
}
main aside .popim3 img {
    
    transform: scale(1.2) translateX(-200px) translateY(-240px);
}

main aside .character-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
}

main aside .character-name .title {
    width: fit-content;
    font-size: 2rem;
}

main aside .table-container table {
    font-size: 1.5rem;
    width: 100%;
}

main aside .table-container th {
    width: 50%;
}

main aside .diamond {
    position: absolute;
    z-index: 1;
    transform: translateY(-50px) translateX(-25px);
    

    width: 50px;
    height: 100px;
    background-color: white;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

main aside .table-container .diamond {
    align-self: flex-end;
}

main aside .aside-image-container img:hover {
    transform: scale(1.1) translateX(20px) translateY(-18px);
}

body:has(main aside img:hover) .pop-image-container {
    transform: translateY(96px) translateX(200px);
    opacity: 100%;
}
body:has(main aside img:hover) .popimcont1 img:hover{
    transform-origin: 50% 0%;
    transform: scale(1.2);
}

body:has(main aside img:hover) .popimcont2 {
    transform: translateY(96px) translateX(500px) !important;
    opacity: 100%;
}
body:has(main aside img:hover) .popimcont3 {
    transform: translateY(96px) translateX(800px) !important;
    opacity: 100%;
}

body:has(main aside img:hover) .popimcont2 img:hover {
    transform: scale(1.4);
}
body:has(main aside img:hover) .popimcont3 img:hover {
    transform-origin: 111% 100%;
    transform: scale(1.4) ;
}
/* #endregion */

/* #region main content */

main #content {
    order: 2;
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
    gap: 20px;
}

main #content article{
    padding: 10px;
    font-size: 1.5rem;
}

main #gallery{
    order: 3;
    flex: 1 0 500px;;
}

main #gallery article {
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
main #gallery .images {
    flex: 0 0;
    flex-basis: 100%;

    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}
main #gallery .images figure {
    flex: 1 1 400px;
    overflow: hidden;
    
}
main #gallery .images figcaption {
    padding: 10px;
    font-size: 20px;
}
main #gallery .images img {
    width: 100%;
    object-fit: cover;
}

main #gallery .image-container {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    gap: 20px;
}

main #gallery .images .quote {
    padding: 50px;
    flex: 1 1 100%;
}
main #gallery .images .quote::before, main #gallery .images .quote::after {
    content: "/~^~/";
}

/* #endregion */

/* #region lore embed thing */
main #lore {
    display: flex;
    order: 4;
    flex: 0 0 100%;
    flex-direction: column;
    height: 1000px;
    justify-content: center;
    align-content: center;
    padding: 20px;

}

main #lore iframe{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
main #lore .embed-container {
    height: 800px;
    width: 850px;
    margin:auto;
}

/* #endregion */

/* #region alters */

main #alternate {
    display: flex;
    order: 5;
    flex: 0 0 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 2rem;
}

main #alternate .alter-container {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

main #alternate .alter-container .portrait {
    flex: 1 0 500px;
    display: flex;
    flex-direction: column;
    align-content:stretch;
    width:100%;
}
main #alternate .alter-container .header-title {
    margin:.5rem;
}
main #alternate .portrait .alter-name {
    text-align: center;
    width:100%;
    height: fit-content;
    margin:0;
    padding:0;
}
main #alternate .portrait .alter-name p {
    margin-block: 0.5rem;
}
main #alternate .portrait .splash {
    overflow: hidden;
    flex: 0 0;
    flex-basis: fit-content;
}
main #alternate .portrait img {
    width:100%;
    background-color: rgba(0,0,0,0);
}

main #alternate .portrait table {
    flex: 1 1 25%;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255,  0.5);
}
main #alternate .portrait table th {
    text-align: center;
    width: 30%
}
/* bless thee whoever sees this shitty ass code */
main #alternate .portrait table tr {
    text-align: left;
}
main #alternate .alter-container .alter-desc {
    flex: 1 1 125%;
}
main #alternate .alter-container .alter-desc p{
    margin-inline: 1rem;
    font-size: 1.25rem;;
}
/* #endregion */

/* #region stats */

main #stats {
    order: 6;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1 1 100%;
    gap: 1rem;
}
main #stats .header-title {
    flex: 0 0 100%;
    width: 100%;
}
main #stats article {
    flex: 1 1 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
main #stats article section, main #stats article table {
    flex: 1 1;
}
main #stats article tbody, main #stats article tbody tr, main #stats article td{
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    
}
main #stats article tbody tr {
    flex: 1 1;
    flex-direction: row !important;
    font-size: 1.2rem;
}
main #stats article table td {
    gap:1rem;
    flex-direction: row !important;
}
main #stats article table tr{
    flex: 1 1 25%;
    padding: 1rem;
}
main #stats article table th {
    flex: 0 0 25%;
    font-size: 1.5rem;
}
main #stats article table td > span {
    flex: 0 0 11%;
}
main #stats article table .bar-container {
    height: 100%;
    flex: 1 1 75%;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to left, black, rgba(0,0,0,0) 30%);
    border-radius: 99px;
    border: 2px solid black
}
main #stats article table .bar {
    height: 100%;
    background-image: linear-gradient(to right, rgb(209, 93, 224),rgb(141, 88, 211),rgb(37, 49, 219));
    border-radius: 99px;
    border: 2px solid white
}
main #stats article table .circle {
    position: relative;
    background: white;
    border-radius: 999px;
    transform: scale(2) translateX(-10px);
    align-self: center;
    height: 80%;
    width: 15px;
    order: 2;
    color:black;
    font-size: 0.55rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

main #stats article .portrait {
    flex: 1 0 600px;
    display: flex;
    flex-direction: column;
}

main #stats article .slider-container {
    display: flex;
    flex-direction: column;
    flex: 3 0 500px;

}

main #stats .portrait .title .header-title {
    margin-block:0.5rem;
}
main #stats .portrait .title {
    text-align: center;   
}

main #stats .portrait .title h3 {
    margin-block: .33rem;
}
main #stats .image-container img {
    width: 100%;
    object-fit: cover;
}
main #stats .image-container {
    flex: 1 1;
}
main #stats .alter-stat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main #stats .alter-stat table {
    margin-bottom: 0 !important; 
    max-height: fit-content ;
}
main #stats .alter-stat table tr {
    flex: 1 1;
}
main #stats .other-stat-container {
    display: flex;
    flex-direction: row;
    flex: 1 1;
}
main #stats .other-stat-container .other-stat {
    flex: 1 1;
    
    display: flex;
    flex-direction: column;
}
main #stats .other-stat-container .other-stat p {
    font-size: 4rem;
    margin-block: 20%;
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
main #stats .other-stat-container .header-title {
    padding:1rem;
    max-height: 80px;
}
    

/* #endregion */

/* #region relations/characters */

main #relations{
    order: 7;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}
main #relations .header-title {
    padding-block: 20px;
}
main #relations .rel-map {
    position: relative;
    height: 1000px;
    margin: 20px;
    background-image: url(assets/images/snowy.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: center;
    overflow: scroll;

    display: flex;
    justify-content: center;
    align-items: center;
}
main #relations .char-icon {
    background-color: white;
    max-height: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 999px;
    border: 10px solid white;
    object-position: center;
    overflow: hidden;
    vertical-align: center;
    object-position: center;

}
main #relations .makeshift-figure {
    position: absolute;
    width: fit-content;
    aspect-ratio: 1 / 1;
}
main #relations .char-icon img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    transition: all 0.1s ease-out;
}
main #relations .char-icon:hover img {
    animation: spin 2s 1;
}
main #relations .rel-map .figcap {
    z-index: 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.5s ease-in;
    text-align: center;
    padding: 20px;
    font-size: 1.75rem;
}
body:has(main #relations .char-icon:hover) .makeshift-figure:hover .figcap {
    opacity: 100%;
    transform: none;
}

main #relations .char-detail {
    display: flex;
    flex-direction: column;
}
main #relations .char-detail h2.header-title {
    flex: 0 0 100%;
}
main #relations .char-detail .char-container {
    flex: 1 1;
    display: flex;
}
main #relations .char-detail .char-portrait {
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
}
main #relations .char-detail .char-portrait img {
    width:100%;
}
main #relations .char-detail .char-container .char-desc {
    flex: 1 1;
}
main #relations .char-detail .char-container h4 {
    margin:1rem;
    padding:0;
}
main #relations .char-desc p {
    font-size: 1.5rem;
    margin-inline: 1rem;
}
main #relations .char-desc section {
    font-size: 1.5rem;
    margin-inline: 1rem;
}
/* #endregion */

/* #endregion */

/* #region footer */

main footer {
    position: fixed;
    bottom:0;
    height: 7vh;
    width: 100%;
    z-index: 9999;
    display: flex;
    flex-direction: row;

    background-image: linear-gradient(45deg, rgb(22, 201, 224),rgba(0,0,0,0) 50%,rgba(0,0,0,0) 60%, rgb(148, 255, 241) 70%, rgba(0,0,0,0) 75%, rgb(33, 236, 159) );
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.863);
}
main footer .social-media {
    display: flex;
    flex-direction: row;
    height:100%;
    flex: 1 1;
    
}
main footer .social-media ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex: 0 1;
    
}
main footer .social-media ul li a {
    color: white;
    transition: all 0.5s;
    padding:5px;
    background: solid rgba(0,0,0,0);
    
}
main footer .social-media ul li a:hover {
    background-color: white;
    color: rgb(255, 0, 140);
}
main footer .plug {
    height: 100%;
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
main footer .plug button {
    text-align: end;
    vertical-align: middle;
    margin-inline:30px ;
    padding: 0.7rem;
    background-color: rgb(91, 233, 91);
    border-radius: 20px;
}
main footer .plug button a {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    font-weight:bold;
    font-size: 100%;
}
/* #endregion */

/* #region keyframes */

@keyframes spin {
    from {
        transform: rotate(0deg) scale(1.2);
    }
    to {
        transform: rotate(360deg) scale(1.2);
    }
}
@keyframs glowpulse {
    from {
        background-image: linear-gradient();
    }

}

/* #endregion */

/* #region anims */

.intro {
    position: fixed;
    z-index: 99999;
    left:0;
    top:0;
    width: 100%;
    height: 100vh;
    transition: 1s;
}

.half-bg {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height:50vh;
    background: #161616;
    transition: 0;
}
.down {
    top:50vh;
    transform: rotate(180deg);
    transition: 0;
}
.glow {
    position: fixed;
    width: 50px;
    height: 10vh;
    top:50vh;
    transform: translateX(-75px) translateY(-5vh);
    filter: blur(10vh);
    background-color: white;
    z-index:100000;
}
.slash-container {
    position: absolute;
    background: none;
    top:48vh;
    width: 100%;
    height:3vh;
    z-index: 2;
    overflow: hidden;
}
.slash {
    left:-50px;
    position: absolute;
    height: 100%;
    width: 50px;
    background-image: linear-gradient(45deg, white, rgba(0,0,0,0) 90%);
    transform: scale(2);
    border-radius: 50%;
}
.slash.active {
    width: 200%;
    transition: ease-out 1.75s;
}
.slash-container.full {
    background-color: white;
    transition: 1s;
}
.glow.active {
    width: 200%;
    transition: 1s;
}
.fade {
    width:200%;
    transition: ease-in 0.5s;
    opacity: 0;
}
.half-bg.fade {
    transform: translateY(-100vh);
}
.down.fade {
    transform: rotate(180deg) translateY(-100vh);
}
.intro.goaway{
    transform: translateX(100vw);
}

/* #endregion */